# ---------- User-specified files to ignore ---------- 
# Edit the following if necessary
.conda/*
xschem/*
ckpts/*
!ckpts/README.md
*.pyc
*.pt
*.pth
*.tar.gz
plotting.ipynb
test.ipynb
# ---------- End of user-specified list of files to ignore ---------- 