# ---------- User-specified files to ignore ---------- 
# Edit the following if necessary
.conda/*
.vscode/*
logs/*
!logs/README.md

designs/*/*/inputs/constraints.json
designs/*/*/inputs/testbench.spice
designs/*/*/runs
designs/*/*/results
designs/*/*/xschem

src/analogagent/playbook.json
src/analogagent/problem_set.tsv
src/analogagent/prompt_template.md
src/analogagent/execution_error.md
src/analogagent/retrieval_prompt.md
src/analogagent/simulation_error.md
src/cabgen/extract_mag.tcl

.env
.gitmodules
*.pyc
*.pt
*.pth
*.tar.gz

*.ext
*.sim
*.nodes

# ---------- End of user-specified list of files to ignore ---------- 