# ---------- User-specified files to ignore ---------- 
# Edit the following if necessary
.conda/*
AFE_Config/SpiceAC/*
!AFE_Config/SpiceAC/README.md
AFE_Config/SpiceTrans/*
!AFE_Config/SpiceTrans/README.md
SpeechCommands/*
!SpeechCommands/README.md
ckpts/*
!ckpts/README.md
logs/*
!logs/README.md
*.pyc
*.pt
*.pth
*.tar.gz
# ---------- End of user-specified list of files to ignore ---------- 