.DS_Store
mm
mm/*
*.deb

.vscode
VLSI24/submitted_notebooks/Open3DFlow/tsv.spice
VLSI24/submitted_notebooks/Open3DFlow/*.mk
VLSI24/submitted_notebooks/Open3DFlow/Open3DFlow
VLSI24/submitted_notebooks/Open3DFlow/HotSpot
VLSI24/submitted_notebooks/Open3DFlow/Results*
VLSI24/submitted_notebooks/Open3DFlow/Thermal_sim*

