[submodule "Notebooks/bandgapReferenceCircuit"]
	path = Notebooks/bandgapReferenceCircuit
	url = https://github.com/johnkustin/bandgapReferenceCircuit
[submodule "Notebooks/DAG_Processing_Unit/src/DPU_DAG_Processing_Unit"]
	path = Notebooks/DAG_Processing_Unit/src/DPU_DAG_Processing_Unit
	url = https://github.com/nimish15shah/DPU_DAG_Processing_Unit
[submodule "Notebooks/CT-DS-ADC_generator"]
	path = Notebooks/CT-DS-ADC_generator
	url = https://github.com/aviralpandey/CT-DS-ADC_generator.git
