rtl/
sim/
tmp/
./data/
lef_to_gds.sh
magic_to_gds.sh
.ipynb_checkpoints
img/*:Zone.Identifier
img/.ipynb_checkpoints
avsd_opamp/
avsdcmp_3v3_sky130/
coupled_resonators.gds
main_notebook.ipynb:Zone.Identifier