venv/
code/genetic_algorithm/output
code/genetic_algorithm/main_exec
code/resnet/code/quant_code/__pycache__
code/resnet/datasets/
code/resnet/code/__pycache__
code/synthesis/goldenbrick/goldenbrick.txt
code/synthesis/sta/*.report
code/synthesis/syn/abc.script
code/synthesis/syn/*.v
code/synthesis/syn/*.log
code/synthesis/vsim
