# Virtual environment
venv/

# Dataset files
datasets/

# Genetic algorithm outputs
code/genetic_algorithm/output/
code/genetic_algorithm/main_exec/

# ResNet code and caches
code/resnet/datasets/
code/resnet/**/__pycache__/

# Synthesis files
code/synthesis/goldenbrick/goldenbrick.txt
code/synthesis/sta/*.report
code/synthesis/syn/*.v
code/synthesis/syn/*.log
code/synthesis/syn/abc.script
code/synthesis/vsim/
